<a href="https://colab.research.google.com/github/rejinadel/Pandas/blob/main/Dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataframes

In [7]:
import pandas as pd
l = [[1001, 'apple','fruits', 5],
    [ 1002, 'orange', 'fruits',10],
    [1003, 'pen', 'stat', 5],
    [1004, 'eraser', 'stat',2]]
pd.DataFrame(l)

      0       1       2   3
0  1001   apple  fruits   5
1  1002  orange  fruits  10
2  1003     pen    stat   5
3  1004  eraser    stat   2

Data with its columns name

In [11]:
import pandas as pd
l = [[1001, 'apple','fruits', 5],
    [ 1002, 'orange', 'fruits',10],
    [1003, 'pen', 'stat', 5],
    [1004, 'eraser', 'stat',2]]
pd.DataFrame(l,columns = ['Redg.n','Name','types','Quantity'],index = [1,2,3,4])

   Redg.n    Name   types  Quantity
1    1001   apple  fruits         5
2    1002  orange  fruits        10
3    1003     pen    stat         5
4    1004  eraser    stat         2

Dataframes with own

In [15]:
import pandas as pd
records = [[1, 'rejina', 9843064361, 'Csit'],
           [2, 'rezna', 9843064363, 'BCA'],
           [3, 'rez', 9843064360, 'BIT'],
           [4, 'laxmi', 9843064364, 'ABC']]
pd.DataFrame(records, columns = ['SN', 'Name', 'Contacts', 'Faculties'], index = [1,2,3,4])

   SN    Name    Contacts Faculties
1   1  rejina  9843064361      Csit
2   2   rezna  9843064363       BCA
3   3     rez  9843064360       BIT
4   4   laxmi  9843064364       ABC